body {
  background-color: #f7f7f0;
}

#logo {
  width:350px
}

#header {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto 3rem auto;
}

#header div {
  width: 350px;
  padding: 20px;
}

#madlib {
  line-height:1.4em;
  font-size:1.6rem;
}

.madlib-option {
  font:inherit;
}

#explanations {
  max-width: 700px;
  margin: 0 auto 3rem auto;
  line-height:1.4em;
  font-size:1.3rem;
}
