body {
  background-color: #f7f7f0;
  font-size: 16px;
}

#logo {
  width:300px;
}

#header {
  display: flex;
  flex-direction: row;
  font-size:2rem;
  padding:1rem;
}

#header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#header ul li {
  margin-left: 2rem;
}

#explain {
  max-width: 800px;
  margin: 2rem auto 2rem auto;
  font-size:2rem;
}

#madlib {
  line-height:1.6;
  font-size:2.3rem;
  padding-block: 2rem;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.madlib-option {
  font:inherit;
}

#explanations {
  max-width: 800px;
  margin: 0 auto 0 auto;
  line-height:1.5;
  font-size:3rem;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
