body {
  background-color: #f7f7f0;
  font-size: 16px;
}

#logo {
  width:600px;
}

#header {
  display: flex;
  flex-direction: column;
  font-size:2rem;
  padding:2rem 5rem;
}

#header div:first-child {
  width: 600px;
}

#madlib {
  line-height:1.6;
  font-size:2.3rem;
  padding-block: 2rem;
}

.madlib-option {
  font:inherit;
}

#explanations {
  max-width: 900px;
  margin: 0 auto 0 auto;
  line-height:1.5;
  font-size:2.5rem;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
